MODULOS/Compras_General/DllProvedores/Web References/wsProveedores/wsProveedores.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://SC-Solutions/ServiciosWeb/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://SC-Solutions/ServiciosWeb/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Modulo información</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://SC-Solutions/ServiciosWeb/">
      <s:element name="ExecuteExt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InformacionCliente">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="Solicitud" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Sentencia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteExtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteExtResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetExecute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InformacionCliente">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="Solicitud" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetExecuteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetExecuteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reporte">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InformacionReporteWeb">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="InformacionCliente">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReporteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReporteResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProbarConexion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ArchivoIni" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProbarConexionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProbarConexionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmarPedidoProveedor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InformacionCliente">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="dtsInformacionWeb">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="iTipo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmarPedidoProveedorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConfirmarPedidoProveedorResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmbarcarOrdenCompra">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InformacionCliente">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="dtsInformacionWeb">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmbarcarOrdenCompraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmbarcarOrdenCompraResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExecuteExtSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteExt" />
  </wsdl:message>
  <wsdl:message name="ExecuteExtSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteExtResponse" />
  </wsdl:message>
  <wsdl:message name="GetExecuteSoapIn">
    <wsdl:part name="parameters" element="tns:GetExecute" />
  </wsdl:message>
  <wsdl:message name="GetExecuteSoapOut">
    <wsdl:part name="parameters" element="tns:GetExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="ReporteSoapIn">
    <wsdl:part name="parameters" element="tns:Reporte" />
  </wsdl:message>
  <wsdl:message name="ReporteSoapOut">
    <wsdl:part name="parameters" element="tns:ReporteResponse" />
  </wsdl:message>
  <wsdl:message name="ProbarConexionSoapIn">
    <wsdl:part name="parameters" element="tns:ProbarConexion" />
  </wsdl:message>
  <wsdl:message name="ProbarConexionSoapOut">
    <wsdl:part name="parameters" element="tns:ProbarConexionResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmarPedidoProveedorSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmarPedidoProveedor" />
  </wsdl:message>
  <wsdl:message name="ConfirmarPedidoProveedorSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmarPedidoProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="EmbarcarOrdenCompraSoapIn">
    <wsdl:part name="parameters" element="tns:EmbarcarOrdenCompra" />
  </wsdl:message>
  <wsdl:message name="EmbarcarOrdenCompraSoapOut">
    <wsdl:part name="parameters" element="tns:EmbarcarOrdenCompraResponse" />
  </wsdl:message>
  <wsdl:portType name="wsCnnProveedoresSoap">
    <wsdl:operation name="ExecuteExt">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtener información del servidor.</wsdl:documentation>
      <wsdl:input message="tns:ExecuteExtSoapIn" />
      <wsdl:output message="tns:ExecuteExtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetExecute">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtener información del servidor.</wsdl:documentation>
      <wsdl:input message="tns:GetExecuteSoapIn" />
      <wsdl:output message="tns:GetExecuteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reporte">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Generar reporte.</wsdl:documentation>
      <wsdl:input message="tns:ReporteSoapIn" />
      <wsdl:output message="tns:ReporteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProbarConexion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Probar conexión.</wsdl:documentation>
      <wsdl:input message="tns:ProbarConexionSoapIn" />
      <wsdl:output message="tns:ProbarConexionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarPedidoProveedor">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Confirmar Pedido Proveedor.</wsdl:documentation>
      <wsdl:input message="tns:ConfirmarPedidoProveedorSoapIn" />
      <wsdl:output message="tns:ConfirmarPedidoProveedorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmbarcarOrdenCompra">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Confirmacion De Orden De Compra.</wsdl:documentation>
      <wsdl:input message="tns:EmbarcarOrdenCompraSoapIn" />
      <wsdl:output message="tns:EmbarcarOrdenCompraSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsCnnProveedoresSoap" type="tns:wsCnnProveedoresSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteExt">
      <soap:operation soapAction="http://SC-Solutions/ServiciosWeb/ExecuteExt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExecute">
      <soap:operation soapAction="http://SC-Solutions/ServiciosWeb/GetExecute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reporte">
      <soap:operation soapAction="http://SC-Solutions/ServiciosWeb/Reporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProbarConexion">
      <soap:operation soapAction="http://SC-Solutions/ServiciosWeb/ProbarConexion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarPedidoProveedor">
      <soap:operation soapAction="http://SC-Solutions/ServiciosWeb/ConfirmarPedidoProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmbarcarOrdenCompra">
      <soap:operation soapAction="http://SC-Solutions/ServiciosWeb/EmbarcarOrdenCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsCnnProveedoresSoap12" type="tns:wsCnnProveedoresSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteExt">
      <soap12:operation soapAction="http://SC-Solutions/ServiciosWeb/ExecuteExt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExecute">
      <soap12:operation soapAction="http://SC-Solutions/ServiciosWeb/GetExecute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reporte">
      <soap12:operation soapAction="http://SC-Solutions/ServiciosWeb/Reporte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProbarConexion">
      <soap12:operation soapAction="http://SC-Solutions/ServiciosWeb/ProbarConexion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarPedidoProveedor">
      <soap12:operation soapAction="http://SC-Solutions/ServiciosWeb/ConfirmarPedidoProveedor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmbarcarOrdenCompra">
      <soap12:operation soapAction="http://SC-Solutions/ServiciosWeb/EmbarcarOrdenCompra" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsCnnProveedores">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Modulo información</wsdl:documentation>
    <wsdl:port name="wsCnnProveedoresSoap" binding="tns:wsCnnProveedoresSoap">
      <soap:address location="http://localhost:8121/wsFarmaciaScSoft/wsProveedores.asmx" />
    </wsdl:port>
    <wsdl:port name="wsCnnProveedoresSoap12" binding="tns:wsCnnProveedoresSoap12">
      <soap12:address location="http://localhost:8121/wsFarmaciaScSoft/wsProveedores.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>