INTERFACES/INTERFACE_ECE__SESEQ/Dll_INT_CNNSESEQ/Web References/wsRecetaElectronica_SESEQ/ws_recepcionRecetaElectronicaDEV.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:webServiceSESEQ" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:webServiceSESEQ" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:webServiceSESEQ">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="datos_entrada">
        <xsd:all>
          <xsd:element name="noReceta" type="xsd:string" />
          <xsd:element name="clave" type="xsd:string" />
          <xsd:element name="lote" type="xsd:string" />
          <xsd:element name="caducidad" type="xsd:string" />
          <xsd:element name="surtido" type="xsd:string" />
          <xsd:element name="fechaSurtido" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="datos_imagen">
        <xsd:all>
          <xsd:element name="noReceta" type="xsd:string" />
          <xsd:element name="idImagen" type="xsd:string" />
          <xsd:element name="tipoImagen" type="xsd:string" />
          <xsd:element name="imagenB64" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="datos_salida">
        <xsd:all>
          <xsd:element name="mensaje" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="recepcionSurtidoFarmaciaRequest">
    <wsdl:part name="datos_entrada" type="tns:datos_entrada" />
  </wsdl:message>
  <wsdl:message name="recepcionSurtidoFarmaciaResponse">
    <wsdl:part name="return" type="tns:datos_salida" />
  </wsdl:message>
  <wsdl:message name="recepcionImagenFarmaciaRequest">
    <wsdl:part name="datos_imagen" type="tns:datos_imagen" />
  </wsdl:message>
  <wsdl:message name="recepcionImagenFarmaciaResponse">
    <wsdl:part name="return" type="tns:datos_salida" />
  </wsdl:message>
  <wsdl:portType name=" Web Service SESEQPortType">
    <wsdl:operation name="recepcionSurtidoFarmacia">
      <documentation>Recibe arreglo con las cantidades surtidas en farmacia por clave, lote, caducidad por numero de receta</documentation>
      <wsdl:input message="tns:recepcionSurtidoFarmaciaRequest" />
      <wsdl:output message="tns:recepcionSurtidoFarmaciaResponse" />
    </wsdl:operation>
    <wsdl:operation name="recepcionImagenFarmacia">
      <documentation>Recibe arreglo con las imagenes de las receta y tiket firmado por el paciente en formato base64 </documentation>
      <wsdl:input message="tns:recepcionImagenFarmaciaRequest" />
      <wsdl:output message="tns:recepcionImagenFarmaciaResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name=" Web Service SESEQBinding" type="tns: Web Service SESEQPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="recepcionSurtidoFarmacia">
      <soap:operation soapAction="urn:seseq#recepcionSurtidoFarmacia" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:webServiceSESEQ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:webServiceSESEQ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recepcionImagenFarmacia">
      <soap:operation soapAction="urn:seseq#recepcionImagenFarmacia" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:webServiceSESEQ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:webServiceSESEQ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name=" Web Service SESEQ">
    <wsdl:port name=" Web Service SESEQPort" binding="tns: Web Service SESEQBinding">
      <soap:address location="http://apps.seseqro.gob.mx:8181/finanzas/updateSiamC/ws_recepcionRecetaElectronicaDEV.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>