INTERFACES/INTERFACE_ECE__SESEQ/Dll_ISESEQ/Web References/wsAcuseProcesos_RE/wsInterfaceISESEQ.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://SC-Solutions/ServiciosWeb/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://SC-Solutions/ServiciosWeb/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Módulo Interface de Comunicación</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://SC-Solutions/ServiciosWeb/">
      <s:element name="DescargarInventario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Informacion_XML" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TipoUnidad" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DescargarInventarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DescargarInventarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecepcionDeRecetaElectronica">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Informacion_XML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecepcionDeRecetaElectronicaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecepcionDeRecetaElectronicaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AcuseSurtidoDeRecetaElectronica">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Informacion_XML" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AcuseSurtidoDeRecetaElectronicaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AcuseSurtidoDeRecetaElectronicaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AcuseDigitalizacionRecetaElectronica">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Informacion_XML" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AcuseDigitalizacionRecetaElectronicaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AcuseDigitalizacionRecetaElectronicaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarFirmaDeEntregaColectivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Folio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Firma" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarFirmaDeEntregaColectivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidarFirmaDeEntregaColectivoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelacionDeRecetaElectronica">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Informacion_XML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelacionDeRecetaElectronicaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelacionDeRecetaElectronicaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AcuseDeCancelacionDeRecetaElectronica">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Informacion_XML" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AcuseDeCancelacionDeRecetaElectronicaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AcuseDeCancelacionDeRecetaElectronicaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DescargarInventarioSoapIn">
    <wsdl:part name="parameters" element="tns:DescargarInventario" />
  </wsdl:message>
  <wsdl:message name="DescargarInventarioSoapOut">
    <wsdl:part name="parameters" element="tns:DescargarInventarioResponse" />
  </wsdl:message>
  <wsdl:message name="RecepcionDeRecetaElectronicaSoapIn">
    <wsdl:part name="parameters" element="tns:RecepcionDeRecetaElectronica" />
  </wsdl:message>
  <wsdl:message name="RecepcionDeRecetaElectronicaSoapOut">
    <wsdl:part name="parameters" element="tns:RecepcionDeRecetaElectronicaResponse" />
  </wsdl:message>
  <wsdl:message name="AcuseSurtidoDeRecetaElectronicaSoapIn">
    <wsdl:part name="parameters" element="tns:AcuseSurtidoDeRecetaElectronica" />
  </wsdl:message>
  <wsdl:message name="AcuseSurtidoDeRecetaElectronicaSoapOut">
    <wsdl:part name="parameters" element="tns:AcuseSurtidoDeRecetaElectronicaResponse" />
  </wsdl:message>
  <wsdl:message name="AcuseDigitalizacionRecetaElectronicaSoapIn">
    <wsdl:part name="parameters" element="tns:AcuseDigitalizacionRecetaElectronica" />
  </wsdl:message>
  <wsdl:message name="AcuseDigitalizacionRecetaElectronicaSoapOut">
    <wsdl:part name="parameters" element="tns:AcuseDigitalizacionRecetaElectronicaResponse" />
  </wsdl:message>
  <wsdl:message name="ValidarFirmaDeEntregaColectivoSoapIn">
    <wsdl:part name="parameters" element="tns:ValidarFirmaDeEntregaColectivo" />
  </wsdl:message>
  <wsdl:message name="ValidarFirmaDeEntregaColectivoSoapOut">
    <wsdl:part name="parameters" element="tns:ValidarFirmaDeEntregaColectivoResponse" />
  </wsdl:message>
  <wsdl:message name="CancelacionDeRecetaElectronicaSoapIn">
    <wsdl:part name="parameters" element="tns:CancelacionDeRecetaElectronica" />
  </wsdl:message>
  <wsdl:message name="CancelacionDeRecetaElectronicaSoapOut">
    <wsdl:part name="parameters" element="tns:CancelacionDeRecetaElectronicaResponse" />
  </wsdl:message>
  <wsdl:message name="AcuseDeCancelacionDeRecetaElectronicaSoapIn">
    <wsdl:part name="parameters" element="tns:AcuseDeCancelacionDeRecetaElectronica" />
  </wsdl:message>
  <wsdl:message name="AcuseDeCancelacionDeRecetaElectronicaSoapOut">
    <wsdl:part name="parameters" element="tns:AcuseDeCancelacionDeRecetaElectronicaResponse" />
  </wsdl:message>
  <wsdl:portType name="ws_Cnn_ISESEQSoap">
    <wsdl:operation name="DescargarInventario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Información de inventario</wsdl:documentation>
      <wsdl:input message="tns:DescargarInventarioSoapIn" />
      <wsdl:output message="tns:DescargarInventarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecepcionDeRecetaElectronica">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Información de receta electrónica generada</wsdl:documentation>
      <wsdl:input message="tns:RecepcionDeRecetaElectronicaSoapIn" />
      <wsdl:output message="tns:RecepcionDeRecetaElectronicaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AcuseSurtidoDeRecetaElectronica">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Acuse de surtido de receta electrónica</wsdl:documentation>
      <wsdl:input message="tns:AcuseSurtidoDeRecetaElectronicaSoapIn" />
      <wsdl:output message="tns:AcuseSurtidoDeRecetaElectronicaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AcuseDigitalizacionRecetaElectronica">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Acuse de surtido de receta electrónica</wsdl:documentation>
      <wsdl:input message="tns:AcuseDigitalizacionRecetaElectronicaSoapIn" />
      <wsdl:output message="tns:AcuseDigitalizacionRecetaElectronicaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidarFirmaDeEntregaColectivo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validación de Recepción de colectivos</wsdl:documentation>
      <wsdl:input message="tns:ValidarFirmaDeEntregaColectivoSoapIn" />
      <wsdl:output message="tns:ValidarFirmaDeEntregaColectivoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelacionDeRecetaElectronica">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cancelación de receta electrónica</wsdl:documentation>
      <wsdl:input message="tns:CancelacionDeRecetaElectronicaSoapIn" />
      <wsdl:output message="tns:CancelacionDeRecetaElectronicaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AcuseDeCancelacionDeRecetaElectronica">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Acuse de cancelación de receta electrónica</wsdl:documentation>
      <wsdl:input message="tns:AcuseDeCancelacionDeRecetaElectronicaSoapIn" />
      <wsdl:output message="tns:AcuseDeCancelacionDeRecetaElectronicaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ws_Cnn_ISESEQSoap" type="tns:ws_Cnn_ISESEQSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DescargarInventario">
      <soap:operation soapAction="http://SC-Solutions/ServiciosWeb/DescargarInventario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecepcionDeRecetaElectronica">
      <soap:operation soapAction="http://SC-Solutions/ServiciosWeb/RecepcionDeRecetaElectronica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcuseSurtidoDeRecetaElectronica">
      <soap:operation soapAction="http://SC-Solutions/ServiciosWeb/AcuseSurtidoDeRecetaElectronica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcuseDigitalizacionRecetaElectronica">
      <soap:operation soapAction="http://SC-Solutions/ServiciosWeb/AcuseDigitalizacionRecetaElectronica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarFirmaDeEntregaColectivo">
      <soap:operation soapAction="http://SC-Solutions/ServiciosWeb/ValidarFirmaDeEntregaColectivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelacionDeRecetaElectronica">
      <soap:operation soapAction="http://SC-Solutions/ServiciosWeb/CancelacionDeRecetaElectronica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcuseDeCancelacionDeRecetaElectronica">
      <soap:operation soapAction="http://SC-Solutions/ServiciosWeb/AcuseDeCancelacionDeRecetaElectronica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ws_Cnn_ISESEQSoap12" type="tns:ws_Cnn_ISESEQSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DescargarInventario">
      <soap12:operation soapAction="http://SC-Solutions/ServiciosWeb/DescargarInventario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecepcionDeRecetaElectronica">
      <soap12:operation soapAction="http://SC-Solutions/ServiciosWeb/RecepcionDeRecetaElectronica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcuseSurtidoDeRecetaElectronica">
      <soap12:operation soapAction="http://SC-Solutions/ServiciosWeb/AcuseSurtidoDeRecetaElectronica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcuseDigitalizacionRecetaElectronica">
      <soap12:operation soapAction="http://SC-Solutions/ServiciosWeb/AcuseDigitalizacionRecetaElectronica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarFirmaDeEntregaColectivo">
      <soap12:operation soapAction="http://SC-Solutions/ServiciosWeb/ValidarFirmaDeEntregaColectivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelacionDeRecetaElectronica">
      <soap12:operation soapAction="http://SC-Solutions/ServiciosWeb/CancelacionDeRecetaElectronica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcuseDeCancelacionDeRecetaElectronica">
      <soap12:operation soapAction="http://SC-Solutions/ServiciosWeb/AcuseDeCancelacionDeRecetaElectronica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws_Cnn_ISESEQ">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Módulo Interface de Comunicación</wsdl:documentation>
    <wsdl:port name="ws_Cnn_ISESEQSoap" binding="tns:ws_Cnn_ISESEQSoap">
      <soap:address location="http://localhost:1060/wsInterfaceISESEQ.asmx" />
    </wsdl:port>
    <wsdl:port name="ws_Cnn_ISESEQSoap12" binding="tns:ws_Cnn_ISESEQSoap12">
      <soap12:address location="http://localhost:1060/wsInterfaceISESEQ.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>