INTERFACES/INTERFACE_MEDIACCESS/Dll_SII_IMediaccess/Web References/wsSrvMediaccess/VerificaElegibilidadConCopago.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/VerficarElegibilidadConCopago" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/VerficarElegibilidadConCopago" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/VerficarElegibilidadConCopago">
      <s:element name="ObtenDatos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Proveedor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Elegibilidad" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenDatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenDatosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenDatosSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenDatos" />
  </wsdl:message>
  <wsdl:message name="ObtenDatosSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenDatosResponse" />
  </wsdl:message>
  <wsdl:portType name="VerificaElegibilidadConCopagoSoap">
    <wsdl:operation name="ObtenDatos">
      <wsdl:input message="tns:ObtenDatosSoapIn" />
      <wsdl:output message="tns:ObtenDatosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VerificaElegibilidadConCopagoSoap" type="tns:VerificaElegibilidadConCopagoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenDatos">
      <soap:operation soapAction="http://tempuri.org/VerficarElegibilidadConCopago/ObtenDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VerificaElegibilidadConCopagoSoap12" type="tns:VerificaElegibilidadConCopagoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenDatos">
      <soap12:operation soapAction="http://tempuri.org/VerficarElegibilidadConCopago/ObtenDatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VerificaElegibilidadConCopago">
    <wsdl:port name="VerificaElegibilidadConCopagoSoap" binding="tns:VerificaElegibilidadConCopagoSoap">
      <soap:address location="http://www.mediaccess.com.mx/wsoperaciones/VerificaElegibilidadConCopago.asmx" />
    </wsdl:port>
    <wsdl:port name="VerificaElegibilidadConCopagoSoap12" binding="tns:VerificaElegibilidadConCopagoSoap12">
      <soap12:address location="http://www.mediaccess.com.mx/wsoperaciones/VerificaElegibilidadConCopago.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>