MODULOS/DllFarmaciaSoft/Web References/WsHuellas/wsHuellas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://SC-Solutions/ServiciosWeb/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://SC-Solutions/ServiciosWeb/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Modulo información</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://SC-Solutions/ServiciosWeb/">
      <s:element name="ConexionEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ArchivoIni" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConexionExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConexionExResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DescargarHuellas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Informacion">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DescargarHuellasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DescargarHuellasResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestConexion">
        <s:complexType />
      </s:element>
      <s:element name="TestConexionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TestConexionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DescargarInformacion">
        <s:complexType />
      </s:element>
      <s:element name="DescargarInformacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DescargarInformacionResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IntegrarInformacion_RegistroChecador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Informacion">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IntegrarInformacion_RegistroChecadorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IntegrarInformacion_RegistroChecadorResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IntegrarInformacion_RegistroChecadorDetalle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Informacion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IntegrarInformacion_RegistroChecadorDetalleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IntegrarInformacion_RegistroChecadorDetalleResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProbarConexion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ArchivoIni" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProbarConexionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProbarConexionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConexionExSoapIn">
    <wsdl:part name="parameters" element="tns:ConexionEx" />
  </wsdl:message>
  <wsdl:message name="ConexionExSoapOut">
    <wsdl:part name="parameters" element="tns:ConexionExResponse" />
  </wsdl:message>
  <wsdl:message name="DescargarHuellasSoapIn">
    <wsdl:part name="parameters" element="tns:DescargarHuellas" />
  </wsdl:message>
  <wsdl:message name="DescargarHuellasSoapOut">
    <wsdl:part name="parameters" element="tns:DescargarHuellasResponse" />
  </wsdl:message>
  <wsdl:message name="TestConexionSoapIn">
    <wsdl:part name="parameters" element="tns:TestConexion" />
  </wsdl:message>
  <wsdl:message name="TestConexionSoapOut">
    <wsdl:part name="parameters" element="tns:TestConexionResponse" />
  </wsdl:message>
  <wsdl:message name="DescargarInformacionSoapIn">
    <wsdl:part name="parameters" element="tns:DescargarInformacion" />
  </wsdl:message>
  <wsdl:message name="DescargarInformacionSoapOut">
    <wsdl:part name="parameters" element="tns:DescargarInformacionResponse" />
  </wsdl:message>
  <wsdl:message name="IntegrarInformacion_RegistroChecadorSoapIn">
    <wsdl:part name="parameters" element="tns:IntegrarInformacion_RegistroChecador" />
  </wsdl:message>
  <wsdl:message name="IntegrarInformacion_RegistroChecadorSoapOut">
    <wsdl:part name="parameters" element="tns:IntegrarInformacion_RegistroChecadorResponse" />
  </wsdl:message>
  <wsdl:message name="IntegrarInformacion_RegistroChecadorDetalleSoapIn">
    <wsdl:part name="parameters" element="tns:IntegrarInformacion_RegistroChecadorDetalle" />
  </wsdl:message>
  <wsdl:message name="IntegrarInformacion_RegistroChecadorDetalleSoapOut">
    <wsdl:part name="parameters" element="tns:IntegrarInformacion_RegistroChecadorDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="ProbarConexionSoapIn">
    <wsdl:part name="parameters" element="tns:ProbarConexion" />
  </wsdl:message>
  <wsdl:message name="ProbarConexionSoapOut">
    <wsdl:part name="parameters" element="tns:ProbarConexionResponse" />
  </wsdl:message>
  <wsdl:portType name="wsHuellasSoap">
    <wsdl:operation name="ConexionEx">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtener información</wsdl:documentation>
      <wsdl:input message="tns:ConexionExSoapIn" />
      <wsdl:output message="tns:ConexionExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DescargarHuellas">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtener información de huellas.</wsdl:documentation>
      <wsdl:input message="tns:DescargarHuellasSoapIn" />
      <wsdl:output message="tns:DescargarHuellasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestConexion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Probar conexión.</wsdl:documentation>
      <wsdl:input message="tns:TestConexionSoapIn" />
      <wsdl:output message="tns:TestConexionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DescargarInformacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtener información de huellas.</wsdl:documentation>
      <wsdl:input message="tns:DescargarInformacionSoapIn" />
      <wsdl:output message="tns:DescargarInformacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IntegrarInformacion_RegistroChecador">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Integración de información.</wsdl:documentation>
      <wsdl:input message="tns:IntegrarInformacion_RegistroChecadorSoapIn" />
      <wsdl:output message="tns:IntegrarInformacion_RegistroChecadorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IntegrarInformacion_RegistroChecadorDetalle">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Integración de información.</wsdl:documentation>
      <wsdl:input message="tns:IntegrarInformacion_RegistroChecadorDetalleSoapIn" />
      <wsdl:output message="tns:IntegrarInformacion_RegistroChecadorDetalleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProbarConexion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Probar conexión.</wsdl:documentation>
      <wsdl:input message="tns:ProbarConexionSoapIn" />
      <wsdl:output message="tns:ProbarConexionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsHuellasSoap" type="tns:wsHuellasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConexionEx">
      <soap:operation soapAction="http://SC-Solutions/ServiciosWeb/ConexionEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DescargarHuellas">
      <soap:operation soapAction="http://SC-Solutions/ServiciosWeb/DescargarHuellas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestConexion">
      <soap:operation soapAction="http://SC-Solutions/ServiciosWeb/TestConexion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DescargarInformacion">
      <soap:operation soapAction="http://SC-Solutions/ServiciosWeb/DescargarInformacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegrarInformacion_RegistroChecador">
      <soap:operation soapAction="http://SC-Solutions/ServiciosWeb/IntegrarInformacion_RegistroChecador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegrarInformacion_RegistroChecadorDetalle">
      <soap:operation soapAction="http://SC-Solutions/ServiciosWeb/IntegrarInformacion_RegistroChecadorDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProbarConexion">
      <soap:operation soapAction="http://SC-Solutions/ServiciosWeb/ProbarConexion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsHuellasSoap12" type="tns:wsHuellasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConexionEx">
      <soap12:operation soapAction="http://SC-Solutions/ServiciosWeb/ConexionEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DescargarHuellas">
      <soap12:operation soapAction="http://SC-Solutions/ServiciosWeb/DescargarHuellas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestConexion">
      <soap12:operation soapAction="http://SC-Solutions/ServiciosWeb/TestConexion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DescargarInformacion">
      <soap12:operation soapAction="http://SC-Solutions/ServiciosWeb/DescargarInformacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegrarInformacion_RegistroChecador">
      <soap12:operation soapAction="http://SC-Solutions/ServiciosWeb/IntegrarInformacion_RegistroChecador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegrarInformacion_RegistroChecadorDetalle">
      <soap12:operation soapAction="http://SC-Solutions/ServiciosWeb/IntegrarInformacion_RegistroChecadorDetalle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProbarConexion">
      <soap12:operation soapAction="http://SC-Solutions/ServiciosWeb/ProbarConexion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsHuellas">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Modulo información</wsdl:documentation>
    <wsdl:port name="wsHuellasSoap" binding="tns:wsHuellasSoap">
      <soap:address location="http://localhost/wsPersonalFirma/wsHuellas.asmx" />
    </wsdl:port>
    <wsdl:port name="wsHuellasSoap12" binding="tns:wsHuellasSoap12">
      <soap12:address location="http://localhost/wsPersonalFirma/wsHuellas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>