INTERFACES/INTERFACE_ECE__SESEQ/Dll_INT_CNNSESEQ/Web References/ws_Interface_SII_SIADISSEP/wsISIADISSEP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://SC-Solutions/ServiciosWeb/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://SC-Solutions/ServiciosWeb/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Módulo Interface de Comunicación</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://SC-Solutions/ServiciosWeb/">
      <s:element name="RecepcionDeRecetaElectronica">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Informacion_XML" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecepcionDeRecetaElectronicaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecepcionDeRecetaElectronicaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelacionDeRecetaElectronica">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Informacion_XML" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelacionDeRecetaElectronicaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelacionDeRecetaElectronicaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RecepcionDeRecetaElectronicaSoapIn">
    <wsdl:part name="parameters" element="tns:RecepcionDeRecetaElectronica" />
  </wsdl:message>
  <wsdl:message name="RecepcionDeRecetaElectronicaSoapOut">
    <wsdl:part name="parameters" element="tns:RecepcionDeRecetaElectronicaResponse" />
  </wsdl:message>
  <wsdl:message name="CancelacionDeRecetaElectronicaSoapIn">
    <wsdl:part name="parameters" element="tns:CancelacionDeRecetaElectronica" />
  </wsdl:message>
  <wsdl:message name="CancelacionDeRecetaElectronicaSoapOut">
    <wsdl:part name="parameters" element="tns:CancelacionDeRecetaElectronicaResponse" />
  </wsdl:message>
  <wsdl:portType name="wsISIADISSEPSoap">
    <wsdl:operation name="RecepcionDeRecetaElectronica">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Información de receta electrónica generada</wsdl:documentation>
      <wsdl:input message="tns:RecepcionDeRecetaElectronicaSoapIn" />
      <wsdl:output message="tns:RecepcionDeRecetaElectronicaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelacionDeRecetaElectronica">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cancelación de receta electrónica</wsdl:documentation>
      <wsdl:input message="tns:CancelacionDeRecetaElectronicaSoapIn" />
      <wsdl:output message="tns:CancelacionDeRecetaElectronicaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsISIADISSEPSoap" type="tns:wsISIADISSEPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecepcionDeRecetaElectronica">
      <soap:operation soapAction="http://SC-Solutions/ServiciosWeb/RecepcionDeRecetaElectronica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelacionDeRecetaElectronica">
      <soap:operation soapAction="http://SC-Solutions/ServiciosWeb/CancelacionDeRecetaElectronica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsISIADISSEPSoap12" type="tns:wsISIADISSEPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecepcionDeRecetaElectronica">
      <soap12:operation soapAction="http://SC-Solutions/ServiciosWeb/RecepcionDeRecetaElectronica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelacionDeRecetaElectronica">
      <soap12:operation soapAction="http://SC-Solutions/ServiciosWeb/CancelacionDeRecetaElectronica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsISIADISSEP">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Módulo Interface de Comunicación</wsdl:documentation>
    <wsdl:port name="wsISIADISSEPSoap" binding="tns:wsISIADISSEPSoap">
      <soap:address location="http://localhost:21734/wsSII_INT_ISIADISSEP/wsISIADISSEP.asmx" />
    </wsdl:port>
    <wsdl:port name="wsISIADISSEPSoap12" binding="tns:wsISIADISSEPSoap12">
      <soap12:address location="http://localhost:21734/wsSII_INT_ISIADISSEP/wsISIADISSEP.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>