MODULOS/Proveedores/Web References/wsUpdater/wsUpdater.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://SC-Solutions/ServiciosWeb/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://SC-Solutions/ServiciosWeb/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Modulo información</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://SC-Solutions/ServiciosWeb/">
      <s:element name="GetExecute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InformacionCliente">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="Solicitud" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetExecuteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetExecuteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProbarConexion">
        <s:complexType />
      </s:element>
      <s:element name="ProbarConexionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProbarConexionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RevisarVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Modulo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RevisarVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RevisarVersionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InformacionCliente">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="Solicitud" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVersionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetExecuteSoapIn">
    <wsdl:part name="parameters" element="tns:GetExecute" />
  </wsdl:message>
  <wsdl:message name="GetExecuteSoapOut">
    <wsdl:part name="parameters" element="tns:GetExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="ProbarConexionSoapIn">
    <wsdl:part name="parameters" element="tns:ProbarConexion" />
  </wsdl:message>
  <wsdl:message name="ProbarConexionSoapOut">
    <wsdl:part name="parameters" element="tns:ProbarConexionResponse" />
  </wsdl:message>
  <wsdl:message name="RevisarVersionSoapIn">
    <wsdl:part name="parameters" element="tns:RevisarVersion" />
  </wsdl:message>
  <wsdl:message name="RevisarVersionSoapOut">
    <wsdl:part name="parameters" element="tns:RevisarVersionResponse" />
  </wsdl:message>
  <wsdl:message name="GetVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="GetVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:portType name="wsUpdaterSoap">
    <wsdl:operation name="GetExecute">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtener información del servidor.</wsdl:documentation>
      <wsdl:input message="tns:GetExecuteSoapIn" />
      <wsdl:output message="tns:GetExecuteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProbarConexion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Probar conexión.</wsdl:documentation>
      <wsdl:input message="tns:ProbarConexionSoapIn" />
      <wsdl:output message="tns:ProbarConexionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RevisarVersion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualizar versión del Modulo.</wsdl:documentation>
      <wsdl:input message="tns:RevisarVersionSoapIn" />
      <wsdl:output message="tns:RevisarVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualizar versión del Modulo.</wsdl:documentation>
      <wsdl:input message="tns:GetVersionSoapIn" />
      <wsdl:output message="tns:GetVersionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsUpdaterSoap" type="tns:wsUpdaterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetExecute">
      <soap:operation soapAction="http://SC-Solutions/ServiciosWeb/GetExecute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProbarConexion">
      <soap:operation soapAction="http://SC-Solutions/ServiciosWeb/ProbarConexion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RevisarVersion">
      <soap:operation soapAction="http://SC-Solutions/ServiciosWeb/RevisarVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="http://SC-Solutions/ServiciosWeb/GetVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsUpdaterSoap12" type="tns:wsUpdaterSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetExecute">
      <soap12:operation soapAction="http://SC-Solutions/ServiciosWeb/GetExecute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProbarConexion">
      <soap12:operation soapAction="http://SC-Solutions/ServiciosWeb/ProbarConexion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RevisarVersion">
      <soap12:operation soapAction="http://SC-Solutions/ServiciosWeb/RevisarVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <soap12:operation soapAction="http://SC-Solutions/ServiciosWeb/GetVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsUpdater">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Modulo información</wsdl:documentation>
    <wsdl:port name="wsUpdaterSoap" binding="tns:wsUpdaterSoap">
      <soap:address location="http://localhost:8121/wsFarmaciaScSoft/wsUpdater.asmx" />
    </wsdl:port>
    <wsdl:port name="wsUpdaterSoap12" binding="tns:wsUpdaterSoap12">
      <soap12:address location="http://localhost:8121/wsFarmaciaScSoft/wsUpdater.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>