INTERFACES/INTERFACE_NADRO/Dll_SII_INadro/Web References/wsIntAlmacen/wsInterfaceAlmacen.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://SC-Solutions/ServiciosWeb/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://SC-Solutions/ServiciosWeb/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Modulo información</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://SC-Solutions/ServiciosWeb/">
      <s:element name="Execute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InformacionCliente">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="Sentencia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProbarConexion">
        <s:complexType />
      </s:element>
      <s:element name="ProbarConexionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProbarConexionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarReferenciaPedido">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdEmpresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdEstado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdFarmacia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FolioReferencia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarReferenciaPedidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidarReferenciaPedidoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InformacionDePedido">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Empresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Farmacia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FolioReferencia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InformacionDePedidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InformacionDePedidoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExecuteSoapIn">
    <wsdl:part name="parameters" element="tns:Execute" />
  </wsdl:message>
  <wsdl:message name="ExecuteSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="ProbarConexionSoapIn">
    <wsdl:part name="parameters" element="tns:ProbarConexion" />
  </wsdl:message>
  <wsdl:message name="ProbarConexionSoapOut">
    <wsdl:part name="parameters" element="tns:ProbarConexionResponse" />
  </wsdl:message>
  <wsdl:message name="ValidarReferenciaPedidoSoapIn">
    <wsdl:part name="parameters" element="tns:ValidarReferenciaPedido" />
  </wsdl:message>
  <wsdl:message name="ValidarReferenciaPedidoSoapOut">
    <wsdl:part name="parameters" element="tns:ValidarReferenciaPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="InformacionDePedidoSoapIn">
    <wsdl:part name="parameters" element="tns:InformacionDePedido" />
  </wsdl:message>
  <wsdl:message name="InformacionDePedidoSoapOut">
    <wsdl:part name="parameters" element="tns:InformacionDePedidoResponse" />
  </wsdl:message>
  <wsdl:portType name="wsInterfaceAlmacenSoap">
    <wsdl:operation name="Execute">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtener información del servidor.</wsdl:documentation>
      <wsdl:input message="tns:ExecuteSoapIn" />
      <wsdl:output message="tns:ExecuteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProbarConexion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Probar conexión.</wsdl:documentation>
      <wsdl:input message="tns:ProbarConexionSoapIn" />
      <wsdl:output message="tns:ProbarConexionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidarReferenciaPedido">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validar la Referencia del Pedido recibido</wsdl:documentation>
      <wsdl:input message="tns:ValidarReferenciaPedidoSoapIn" />
      <wsdl:output message="tns:ValidarReferenciaPedidoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InformacionDePedido">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtener información de Pedido.</wsdl:documentation>
      <wsdl:input message="tns:InformacionDePedidoSoapIn" />
      <wsdl:output message="tns:InformacionDePedidoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsInterfaceAlmacenSoap" type="tns:wsInterfaceAlmacenSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Execute">
      <soap:operation soapAction="http://SC-Solutions/ServiciosWeb/Execute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProbarConexion">
      <soap:operation soapAction="http://SC-Solutions/ServiciosWeb/ProbarConexion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarReferenciaPedido">
      <soap:operation soapAction="http://SC-Solutions/ServiciosWeb/ValidarReferenciaPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformacionDePedido">
      <soap:operation soapAction="http://SC-Solutions/ServiciosWeb/InformacionDePedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsInterfaceAlmacenSoap12" type="tns:wsInterfaceAlmacenSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Execute">
      <soap12:operation soapAction="http://SC-Solutions/ServiciosWeb/Execute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProbarConexion">
      <soap12:operation soapAction="http://SC-Solutions/ServiciosWeb/ProbarConexion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarReferenciaPedido">
      <soap12:operation soapAction="http://SC-Solutions/ServiciosWeb/ValidarReferenciaPedido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformacionDePedido">
      <soap12:operation soapAction="http://SC-Solutions/ServiciosWeb/InformacionDePedido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsInterfaceAlmacen">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Modulo información</wsdl:documentation>
    <wsdl:port name="wsInterfaceAlmacenSoap" binding="tns:wsInterfaceAlmacenSoap">
      <soap:address location="http://localhost:5758/wsSII_INT_Nadro/wsInterfaceAlmacen.asmx" />
    </wsdl:port>
    <wsdl:port name="wsInterfaceAlmacenSoap12" binding="tns:wsInterfaceAlmacenSoap12">
      <soap12:address location="http://localhost:5758/wsSII_INT_Nadro/wsInterfaceAlmacen.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>