INTERFACES/INTERFACE_ECE__SESEQ/Dll_INT_CNNSESEQ/Web References/wsColectivoElectronico_SESEQ/ws_recepcionSolicitudColectivo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:webServiceSESEQ" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:webServiceSESEQ" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:webServiceSESEQ">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="datos_entrada">
        <xsd:all>
          <xsd:element name="folio" type="xsd:string" />
          <xsd:element name="clave" type="xsd:string" />
          <xsd:element name="lote" type="xsd:string" />
          <xsd:element name="caducidad" type="xsd:string" />
          <xsd:element name="surtido" type="xsd:string" />
          <xsd:element name="fechaSurtido" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="datos_validar_recepcion">
        <xsd:all>
          <xsd:element name="folio" type="xsd:string" />
          <xsd:element name="firma" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="datos_imagen">
        <xsd:all>
          <xsd:element name="noReceta" type="xsd:string" />
          <xsd:element name="idImagen" type="xsd:string" />
          <xsd:element name="tipoImagen" type="xsd:string" />
          <xsd:element name="imagenB64" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="datos_salida">
        <xsd:all>
          <xsd:element name="mensaje" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="recepcionSolicitudColectivoRequest">
    <wsdl:part name="datos_entrada" type="tns:datos_entrada" />
  </wsdl:message>
  <wsdl:message name="recepcionSolicitudColectivoResponse">
    <wsdl:part name="return" type="tns:datos_salida" />
  </wsdl:message>
  <wsdl:message name="recepcionImagenColectivoRequest">
    <wsdl:part name="datos_imagen" type="tns:datos_imagen" />
  </wsdl:message>
  <wsdl:message name="recepcionImagenColectivoResponse">
    <wsdl:part name="return" type="tns:datos_salida" />
  </wsdl:message>
  <wsdl:message name="validarRecepcionColectivoRequest">
    <wsdl:part name="datos_validar_recepcion" type="tns:datos_validar_recepcion" />
  </wsdl:message>
  <wsdl:message name="validarRecepcionColectivoResponse">
    <wsdl:part name="return" type="tns:datos_salida" />
  </wsdl:message>
  <wsdl:portType name=" Web Service SESEQPortType">
    <wsdl:operation name="recepcionSolicitudColectivo">
      <documentation>Recibe arreglo con las cantidades surtidas en colectivo por clave, receta, lote y caducidad</documentation>
      <wsdl:input message="tns:recepcionSolicitudColectivoRequest" />
      <wsdl:output message="tns:recepcionSolicitudColectivoResponse" />
    </wsdl:operation>
    <wsdl:operation name="recepcionImagenColectivo">
      <documentation>Recibe arreglo con las imagenes del tiket y receta firmadas</documentation>
      <wsdl:input message="tns:recepcionImagenColectivoRequest" />
      <wsdl:output message="tns:recepcionImagenColectivoResponse" />
    </wsdl:operation>
    <wsdl:operation name="validarRecepcionColectivo">
      <documentation>Recibe numero de solicitud de colectivo y la firma electronica para validar.</documentation>
      <wsdl:input message="tns:validarRecepcionColectivoRequest" />
      <wsdl:output message="tns:validarRecepcionColectivoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name=" Web Service SESEQBinding" type="tns: Web Service SESEQPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="recepcionSolicitudColectivo">
      <soap:operation soapAction="urn:seseq#recepcionSolicitudColectivo" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:webServiceSESEQ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:webServiceSESEQ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recepcionImagenColectivo">
      <soap:operation soapAction="urn:seseq#recepcionImagenColectivo" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:webServiceSESEQ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:webServiceSESEQ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarRecepcionColectivo">
      <soap:operation soapAction="urn:seseq#validarRecepcionColectivo" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:webServiceSESEQ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:webServiceSESEQ" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name=" Web Service SESEQ">
    <wsdl:port name=" Web Service SESEQPort" binding="tns: Web Service SESEQBinding">
      <soap:address location="http://apps.seseqro.gob.mx:8181/finanzas/updateSiamC/repositorio/ws_recepcionSolicitudColectivo.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>